<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Kayla Edwards">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Kayla Edwards professional website">
    <title>Kayla Edwards</title>

    

</head>
<body style="font-family: Arial">
    <header>
        <h1>Kayla Edwards</h1>
    </header>

    <div class= "main">
        <h2>Contact Me</h2>
        <form>
            <label for="fname">First name:</label><br>
            <input type="text" id="fname" name="fname"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email"><br>
            <label for="comment">Comment:</label><br>
            <input type="text" id="comment" name="comment">
        </form>
        <table>
            <tr>
                <th>Email</th>
                <th>Phone</th>
                <th>LinkedIn</th>
            </tr>
            <tr>
                <td>kaylabedwards05@gmail.com</td><br>
                <td>(704)-975-5997</td><br>
                <td>www.linkedin.com/in/kayla-edwards-839775299</td><br>
              </tr>
        </table>
        
        <footer>Copyright @Kayla Edwards 2025 all rights reserved</footer>
        <nav>
            <a href="../index.html">HOME</a> 
            <a href="cv.html">CV</a> 
            <a href="contact.html">Contact Me</a> 
            <a href="fun.html">For Fun</a> 
        </nav>
    </div>
</body>
</html>