<!DOCTYPE html>
<html lang="en">
<head>
    <script defer src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Kayla Edwards">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Kayla Edwards professional website">
    <title>Kayla Edwards</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    

</head>
<body onload="addYear()">
    <header>
        <h1 id="webname">Kayla Edwards</h1>
    </header>
    <nav>
        <a href="../index.html">About</a> 
        <a href="cv.html">Resume</a> 
        <a href="contact.html">Contact</a> 
        <a href="fun.html">Fun Stuff</a> 
    </nav>
    

    <div class= "main">
        <h2>Curriculum Vitae</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>Programming Languages</td>
                <td>SQL, Java, Python, C </td>
            </tr>
            <tr>
                <td>Adobe Certifications</td>
                <td>Premiere Pro, Illustrator, InDesign, AfterEffects </td>
            </tr>
            <tr>
                <td>Other Skills</td>
                <td>Microsoft Office, Canva, Communication </td>
            </tr>
            <tr>
                <td>Activities/Clubs</td>
                <td>Artist Alley, Women's Table Tennis Team, Game Creation Society, Carnegie Mellon Racing </td>
            </tr>
        
            
        </table>
        
        <a href="../static/resumeforwebdev.pdf" download="resumeforwebdev.pdf">My Resume (pdf)</a>
        
        <footer>
            <p id="copyYear">Designed 🎨 and Coded 👩🏽‍💻 by Kayla Edwards </p>

        </footer>
    </div>
</body>
</html>