<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->

    <meta name="author" content="Kayla Edwards">
    <meta name="keywords" content="Carnegie Mellon University, Information Systems">
    <meta name="description" content="Kayla Edwards professional website">
    <title>Kayla Edwards</title>

    

</head>
<body style="font-family: Arial">
    <header>
        <h1>Kayla Edwards</h1>
    </header>
    <table>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </table>

    <div class= "main">
        <h2>Curriculum Vitae</h2>
        
        <a href="static/resumeforwebdev.pdf">"Resume</a>
        <footer>Copyright @Kayla Edwards 2025 all rights reserved</footer>
        <nav>
            <a href="../index.html">HOME</a> 
            <a href="views/cv.html">CV</a> 
            <a href="views/contact.html">Contact Me</a> 
            <a href="views/fun.html">For Fun</a> 
        </nav>
    </div>
</body>
</html>